<div class="contact-banner">
  <div class="banner-content">
    <p class="lead mb-0 me-md-4">Interesse geweckt?</p>
    <div class="buttons-wrapper">
      <a [href]="'https://wa.me/' + whatsappNumber" target="_blank" mat-fab color="accent">
        <mat-icon fontIcon="whatsapp"></mat-icon>
      </a>
      <a [href]="'mailto:' + emailAddress" mat-fab color="primary">
        <mat-icon fontIcon="mail"></mat-icon>
      </a>
    </div>
  </div>
</div>

<div class="container product-grid">
  <div class="row g-4">
    <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of products">
      <mat-card class="product-card-hover" (click)="showProductModal(product)">
        <img mat-card-image [src]="product.imageUrl" [alt]="product.name">
        <mat-card-header>
          <mat-card-title>{{ product.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ product.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


