
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport */
}

main {
  flex: 1 0 auto; /* Growt, um Space zu füllen */
}

.app-footer {
  flex-shrink: 0;
  z-index: 999;
  background-color: oklch(var(--b2) / 0.85);
  backdrop-filter: blur(4px);
}

.layout-home,
.layout-shop {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Beide Layouts full-height */
}

.layout-home main {
  padding: 0; /* Kein extra Padding auf Home, damit Hero full ist */
}
