<div class="container mx-auto py-10 px-4 bg-base-200 rounded-lg shadow-md my-8">
  <h1 class="text-4xl font-bold mb-6 border-b pb-2">Impressum</h1>

  <div class="space-y-4">
    <div>
      <p class="font-semibold">Angaben gemäß § 5 DDG:</p>
      <p>Sven Karcher</p>
      <p>August-Bebel-Str. 69</p>
      <p>76187 Karlsruhe</p>
    </div>

    <div>
      <p class="font-semibold">Kontakt:</p>
      <p>Telefon: +49 176 47229853</p>
      <p>E-Mail: sven.karcher&#64;kabelbw.de</p>
    </div>

    <div>
      <p class="font-semibold">Umsatzsteuer-ID:</p>
      <p>[Falls zutreffend]</p>
    </div>

    <div>
      <p class="font-semibold">Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</p>
      <p>Sven Karcher<br>August-Bebel-Str. 69<br>76187 Karlsruhe</p>
    </div>
  </div>

  <div class="mt-8">
    <button class="btn btn-primary" (click)="goToHome()">
      Zurück zur Startseite
    </button>
  </div>
</div>
