@tailwind base;
@tailwind components;
@tailwind utilities;

body.modal-open {
  overflow: hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: block;
  height: 100%;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }

  .container {
    max-width: 1600px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 20px;
  }

  .container {
    max-width: 2000px;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  html {
    font-size: 15px;
  }
}

@media (hover: none) and (pointer: coarse) {
  .btn {
    min-height: 44px;
    min-width: 44px;
  }
}

