<div class="home-fullscreen-bg">
  <div class="content-container text-center text-white">
    <h1 class="display-3 fw-bold">Kartenkrieger</h1>
    <p class="lead fw-normal">
      Deine Quelle für hochwertige Deckboxen und Zubehör.
    </p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center mt-4">
      <a [href]="cardmarketUrl" target="_blank" class="btn btn-outline-light btn-lg px-4">Cardmarket</a>
      <button type="button" class="btn btn-success btn-lg px-4" (click)="onShowShopClick()">Deckboxen Shop</button>
    </div>
  </div>
</div>
