/*
.home-fullscreen-bg {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('https://mktg-assets.tcgplayer.com/content/channel-fireball/article-images/2020/11/gp5.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-container {
  max-width: 800px;
}

.header-text-container {
  margin: 0 auto;
}

.header-text-container h1 {
  font-size: 4.85em; // find better size
}

.same-width-button {
  min-width: 235px; // size 231 - 234?
  max-width: 30ch;
}

@media (max-width: 576px) {
  .same-width-button {
    min-width: 100%;
  }
}

*/
